.root {
    @apply relative max-h-full w-full box-border overflow-hidden
    bg-no-repeat bg-center bg-cover transition-transform
    ease-linear cursor-pointer;
    height: 100% !important;
  
    &:hover {
      & .squareBg:before {
        transform: scale(0.98);
      }
  
      & .productImage {
        transform: scale(1.2625);
      }
  
      & .productTitle > span,
      & .productPrice,
      & .wishlistButton {
        @apply bg-secondary text-secondary;
      }
  
      &:nth-child(6n + 1) .productTitle > span,
      &:nth-child(6n + 1) .productPrice,
      &:nth-child(6n + 1) .wishlistButton {
        @apply bg-violet text-white;
      }
  
      &:nth-child(6n + 5) .productTitle > span,
      &:nth-child(6n + 5) .productPrice,
      &:nth-child(6n + 5) .wishlistButton {
        @apply bg-blue text-white;
      }
  
      &:nth-child(6n + 3) .productTitle > span,
      &:nth-child(6n + 3) .productPrice,
      &:nth-child(6n + 3) .wishlistButton {
        @apply bg-pink text-white;
      }
  
      &:nth-child(6n + 6) .productTitle > span,
      &:nth-child(6n + 6) .productPrice,
      &:nth-child(6n + 6) .wishlistButton {
        @apply bg-cyan text-white;
      }
    }
  
    &:nth-child(6n + 1) .squareBg {
      @apply bg-violet;
    }
  
    &:nth-child(6n + 5) .squareBg {
      @apply bg-blue;
    }
  
    &:nth-child(6n + 3) .squareBg {
      @apply bg-pink;
    }
  
    &:nth-child(6n + 6) .squareBg {
      @apply bg-cyan;
    }
  }
  
  .squareBg,
  .productTitle > span,
  .productPrice,
  .wishlistButton {
    @apply transition-colors ease-in-out duration-500;
  }
  
  .squareBg {
    @apply transition-colors absolute inset-0 z-0;
    background-color: #212529;
  }
  
  .squareBg:before {
    @apply transition ease-in-out duration-500 bg-repeat-space w-full h-full block;
    background-image: url('/bg-products.svg');
    content: '';
  }

.productItemContainer{
    max-width: 618px;
    width: 100%;
    margin-bottom: 100px;
}
  
  .simple {
    & .squareBg {
      @apply bg-accents-0;
      background-image: url('/bg-products.svg');
    }
  
    & .productTitle {

        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
  
      & span {
        @apply leading-extra-loose;
      }
    }
  
    & .productPrice {
      @apply text-sm;
    }
  }
  
  .productTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding-top: 30px;
  
    & span {
      @apply bg-transparent text-primary;
      font-size: inherit;
      letter-spacing: inherit;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      color: white;
      -webkit-text-stroke: 0.5px black;
      text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3);
    }
  }
  
  .imageContainer {
    @apply flex items-center justify-center;
    overflow: hidden;
  
    & > div {
      min-width: 100%;
    }
  }
  
  .productImage {
    @apply transform transition-transform duration-500 object-cover scale-120;
  }
  

.descriptionSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 21px;
    width: 90%;
    text-align: center;

    & > div{
        border-radius: 18px;
    }

    img{
        height: 36px;
        width: 36px;
        border-radius: 50%;
    }

    p{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #fff;
      -webkit-text-stroke: 0.3px solid #000000;
      text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3);
    }
}

.productContent{
    background-color: #F7F7F7;
    padding: 12px;
    margin-top: 20px;
}

.productPriceSection{
    margin-top: 20px;
    width: 100%;
    background-color: #F7F7F7;
    padding: 16px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productPrice {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    
    @media (max-width: 540px) {
      font-size: 18px;
      line-height: 25px;
    }
  }

.btnPrice{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    & > a{
        width: 188px;
        height: 40px;
        background-color: black;
        color: white;
        line-height: 40px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.12em;
        text-transform: uppercase;

        @media (max-width: 540px) {
          width: 118px;
          height: 35px;
          font-size: 12px;
          line-height: 35px;
        }
    }
}