.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-primary;

  @media (max-width: 984px) {
      font-size: 12px;
      line-height: 13px;
      text-align: center;
  }
}

.link:hover {
  @apply text-accents-6;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.navLeft{
  width: 90%;
}

.navItems{
  display: flex;
  width: 90%;
  margin-right: 20px;
  justify-content: flex-end;

  @media (max-width: 780px) {
    display: none;
  }
}

.branding {
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  .brand {
    font-family: "Internal Rainbows";
    font-size: 22px;
    line-height: 23px;
    color: #000;
    text-transform: uppercase;
  }
  & .subBrand {
    display: block;
    color: #9E9E9E;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 1.5;

    &.black {
      color: black !important;
    }
    &.whitepaper, &.careers, &.espa {
      color: white !important;
    }
  }
}