@import '../../../assets/grid.scss';

.wrapper {
  .homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;

    @include lg-width {
      flex-direction: row;
      margin-bottom: 0px;
      margin-top: 50px;
    }
  }
}