.root {
  @apply relative w-full h-full;
}

.leftControl,
.rightControl {
  @apply absolute top-1/2 -translate-x-1/2 z-20 w-16 h-16 flex items-center justify-center bg-hover-1 rounded-full;
}

.leftControl:hover,
.rightControl:hover {
  @apply bg-hover-2;
}

.leftControl:hover,
.rightControl:hover {
  @apply outline-none shadow-outline-normal;
}

.leftControl {
  @apply bg-cover left-10 w-6 h-6;
  background-image: url('public/cursor-left.png');

  /* @screen md { */
  @apply -left-7;
  /* } */
}

.rightControl {
  @apply bg-cover right-10 w-6 h-6;
  background-image: url('public/cursor-right.png');

  /* @screen md { */
  @apply -right-7;
  /* } */
}

.detialImage {
  width: 100%;
  margin-bottom: 1rem;
  @screen md {
    width: 230px;
    height: 230px;
    margin-right: 2rem;
  }
}
