.tabContent{
    padding: 28px 53px;   
    background: #F7F7F7; 
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #111111;
  
}